<footer id="footer" class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="footer-single">
							<img src="" alt="">
							<p style="color:white"><a href="http://www.sakarya.edu.tr/" style="text-decoration:none;color:white">Sakarya Üniversitesi</a></p>
							<p style="color:white">Bilgisayar Mühendisliği</p>
							<p style="color:white">2016-2017</p>
							<p style="color:white">Yazılım Mühendisliği</p>
							<p style="color:white">Proje Ödevi</p>
							<p style="color:white">Kişilik Testi</p>
						</div>
					</div>	
                    <div class="col-md-3"></div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
						<div class="footer-single">
							<ul>
                                <h6  class="nav-item nav-link">Navigasyon</h6>
								<li><a routerLink="/" class="nav-item nav-link">Anasayfa</a></li>
								<li><a routerLink="/test" class="nav-item nav-link">Teste Başla</a></li>
							</ul>
						</div>
					</div>			
				</div>				
			</div>
		</footer>