<section id="base"></section>
<nav class="navbar navbar-toggleable-md navbar-light ONavbar sticky-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
     data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#base" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana">COLOREA</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">    
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#base">Ana Sayfa</a>
            <a class="nav-item nav-link" href="#nasilcalisir">Nasıl Çalışır? <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#karakterler">Karakterler</a>
            <a class="nav-item nav-link testebasla" routerLink="test">Teste Başla</a>
        </div>
    </div>
</nav>