.ONavbar {
    background-color: rgb(0,64,64);
    height: 80px;
}

.ONavbar button{
    background-color: whitesmoke;
    color: rgb(0,64,64);
}

.ONavbar a {
    color: whitesmoke;
    -webkit-transition: all .2s ease-in 0s;
       -moz-transition: all .2s ease-in 0s;
        -ms-transition: all .2s ease-in 0s;
         -o-transition: all .2s ease-in 0s;
            transition: all .2s ease-in 0s;
}



.ONavbar a.nav-link:hover, .ONavbar a.nav-link:focus {
    background-color: whitesmoke;
    border-top: 0;
    color: rgb(0,64,64);
}

div.show {
 background-color: rgb(0,64,64);
}


 