<section id="test"></section>
<div class="card text-center soru" *ngIf="testSorulari">
  <div class="card-block">
      <div *ngIf="!SoruBittiMi">
        <h2 class="card-title" >{{testSorulari.text}}</h2>
        <div class="container">
                <fieldset class="form-group row"  *ngFor="let answer of testSorulari.answers" style="margin-left:29%;margin-right:25% ">
                    <div class="col-md-12" style="text-align:left">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="gridRadios" [(ngModel)]="answered" value="{{answer.optionalParameters}}">
                                {{answer.text}}
                            </label>
                        </div>
                    </div>
                </fieldset>
        </div>
        </div>
    
        <div *ngIf="SoruBittiMi">
            <br>
            <h4 class="card-title">Testi başarıyla tamamladınız, tebrikler!
                Sonuç ekranında karşınıza 4 renk grubuna ilişkin, hangisine ne düzeyde yakın olduğunuzu belirten
                bir grafik ile karşılaşacaksınız. Yakın olduğunuz grup ile alakalı tavsiye notlarına da göz atmayı unutmayın.. 
            </h4>
            <br>
            <br>
        </div>
    <button type="button" class="btn sonrakiSoru" (click)="nextQuestion()" *ngIf="!SoruBittiMi">Sonraki Soru</button>
    <button type="button" class="btn sonuc" (click)="sonucuYolla()" routerLink="/result" *ngIf="SoruBittiMi">Sonucu Göster</button>
  </div>
</div>