<!-- Kısa Tanım -->
<div class="container" style="padding-top:70px;height:648px">
        <div class="row margin-bottom-150 margin-top-150" style="color:rgb(0,64,64)">
            <div class="col-md-4 text-center">
                <i class="fa fa-dashboard fa-4x"></i>
                <h2 class="padding-top-10">Hızlı</h2>
                <p>Test 15 sorudan oluşur, her soruya iki cevap vermeniz gerekir.
                    <br> Kısa sürede biter.</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-thumbs-up fa-4x"></i>
                <h2 class="padding-top-10">Sonuç Odaklı</h2>
                <p>Testin sonucu size karakterinizi semboller ile söyler. 4 Farklı karakter tipinden hangisine daha yakın olduğunuzu öğrenirsiniz.</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-heart fa-4x"></i>
                <h2 class="padding-top-10">Yardım Sever</h2>
                <p>Karakterinizi belirlediniz, peki bu bilgi size nasıl bir katkı sağlayacak? Test, sonuç ekranında size karakterinize uygun tavsiyeler verir.</p>
            </div>
        </div>                
</div>
<!-- Kısa Tanım Bitiş -->

<!-- Nasıl Çalışır Başla -->
<section id="nasilcalisir" style="background-color:rgba(0,64,64,0.2)">
            <div class="container"  style="padding-top:120px;height:648px">
                <div class="row margin-top-50">
                
                    <div class="col-md-12 sec-title text-center">
                        <h2>Nasıl Çalışır?</h2>
                        <div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
                    </div>
                    
                    <div class="sec-sub-title text-center">
                        <p>15 Sorudan oluşan testimizde kendinize en yakın gelen cevabı vermeniz yeterli. İki şık arasında kalırsanız, ikisini de işaretleyebilirsiniz.
                            Sistem verdiğiniz her cevap şıkkı için sizin karakterinizi 4 farklı renkten birine yakınlaştırır. Her renk farklı bir karakteristik yapıyı temsil eder.
                            Verdiğiniz cevaplar sizin hangi karaktere sahip olduğunuzu öğrenmeniz için önemli, bu yüzden dürüst bir şekilde cevap vermelisiniz.</p>
                            
                    </div>
                </div>
            </div>		
</section>
<!--Nasıl Çalışır Bitiş-->

<!-- Karakterler Başla -->
<section id="karakterler">
    <div class="container"  style="padding-top:120px;height:648px">
        <div class="row">
            <div class="col-md-12 sec-title text-center">
                <h2>Karakterler</h2>
                <div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
            </div>
        </div>
        <br>
        <br>
        
        <ngb-accordion [closeOthers]="true" activeIds="1">
            <ngb-panel id="1" title="Sarı">
                <template ngbPanelContent>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-6" style="background-color:yellow;border:2px solid rgb(0,64,64)"></div>
                        <div class="col-md-9 col-sm-6 col-xs-6">Hareketli bir yapıya sahiptir. İlgi çekici ve karizmatiktir. Hayat doludur.
                            Birebir ilişkileri çok kuvvetlidir.
                            Geniş bir tanıdık çevresine sahiptir.
                            Vizyonları çok geniştir, hayal kurmaya yatkındırlar.
                            Büyük projeleri planlama, hayal etme konusunda üstlerine yoktur fakat hayata geçirme konusunda sıkıntı yaşayabilirler.
                            Girişkendirler, detayları düşünmezler, dağınıktırlar.<br>
                            <strong>En kısa tabirlerle;</strong><br> Eğlenceli ve hareketlidirler, mutluluk ve enerji yayarlar, dikkatsizdirler, hazır cevaptırlar,
                            ikna edicidirler, sorunlara ilginç çözümler bulurlar, meraklıdırlar.
                        </div>
                    </div>
                </template>
            </ngb-panel>
            <ngb-panel id="2" title="Kırmızı">
                <template ngbPanelContent>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-6" style="background-color:red;border:2px solid rgb(0,64,64)"></div>
                        <div class="col-md-9 col-sm-6 col-xs-6">Güçlü Kararlı Tiplerdir.<br> Sonuç odaklıdırlar ve az laf çok iş derler. Diktatör gibidirler.
                            Herkesin kendileri gibi düşünüp hareket etmelerini isterler.
                            Yüksek; ancak gerçekçi hedefler belirlemekten ve bunları gerçekleştirmeye çalışmaktan büyük zevk alırlar.
                            Son derece bağımsız insanlardır.
                            Zaman yönetimi konusunda çok iyidirler.<br>
                            <strong>En kısa tabirlerle;</strong><br>
                            Güçlü karakterli, özgüveni yüksek, lider özellikli, icraat odaklı, eleştirilmekten hoşlanmayan, bağımsız, işkoliktirler.
                        </div>
                    </div>
                </template>
            </ngb-panel>
            <ngb-panel id="3" title="Mavi">
                <template ngbPanelContent>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-6" style="background-color:blue;border:2px solid rgb(0,64,64)"></div>
                        <div class="col-md-9 col-sm-6 col-xs-6"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.</div>
                    </div>
                </template>
            </ngb-panel>
            <ngb-panel id="4" title="Yeşil">
                <template ngbPanelContent>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-6" style="background-color:green;border:2px solid rgb(0,64,64)"></div>
                        <div class="col-md-9 col-sm-6 col-xs-6"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.</div>
                    </div>
                </template>
            </ngb-panel>
        </ngb-accordion>

    </div>		
</section>

<section id="karakterler">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 sec-title text-center">
                        <div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
                        <br>
                        <a routerLink="test" class="nav-item nav-link testegit" style="color:rgb(0,64,64);text-decoration:none"><button class="btn btn-lg btn-default testegit">TESTE BAŞLA</button></a>
                    </div>
                </div>
            </div>		
</section>
<br>
<!--Karakterler Bitiş-->